<div id="tracing-ui"><script type="module">				
					window.__sveltekit_1x4z6r8 = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.f64c1f89.js"),
						import("/js/ui/entry/app.e49cdb21.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_1x4z6r8.element);
					});
				</script></div>
