<div id="tracing-ui"><script type="module">				
					window.__sveltekit_5qe9f = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.4662828a.js"),
						import("/js/ui/entry/app.0567b25f.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_5qe9f.element);
					});
				</script></div>
