<div id="tracing-ui"><script type="module">				
					window.__sveltekit_1983qoh = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.49707aa8.js"),
						import("/js/ui/entry/app.bc6dcbf4.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_1983qoh.element);
					});
				</script></div>
