<div id="tracing-ui"><script type="module">				
					window.__sveltekit_ot1pkt = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.a4fd64db.js"),
						import("/js/ui/entry/app.bb0dd4cb.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_ot1pkt.element);
					});
				</script></div>
