<div id="tracing-ui"><script type="module">				
					window.__sveltekit_nmi44a = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.c185b266.js"),
						import("/js/ui/entry/app.4caf63b5.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_nmi44a.element);
					});
				</script></div>
