<div id="tracing-ui"><script type="module">				
					window.__sveltekit_1tlapz1 = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.8e8fdde8.js"),
						import("/js/ui/entry/app.6bfa6e87.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_1tlapz1.element);
					});
				</script></div>
