<div id="tracing-ui"><script type="module">				
					window.__sveltekit_ufjv18 = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.3d4deae6.js"),
						import("/js/ui/entry/app.f3313c78.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_ufjv18.element);
					});
				</script></div>
