<div id="tracing-ui"></div>
<script type="module">
  {
    var kitKey = '1gafc1r';
    var startKey = 'd774c2c5';
    var appKey = '15affb99';
    var kitVar = `__sveltekit_${kitKey}`;

    window[kitVar] = {
      env: {},
      assets: '',
      element: document.getElementById('tracing-ui'),
    };

    Promise.all([
      import(`/js/ui/entry/start.${startKey}.js`),
      import(`/js/ui/entry/app.${appKey}.js`)
    ]).then(([kit, app]) => {
      kit.start(app, window[kitVar].element);
    });
  }
</script>