<div id="tracing-ui"><script type="module">				
					window.__sveltekit_1al0jst = {
						env: {},
						assets: "",
						element: document.getElementById("tracing-ui")
					};

					Promise.all([
						import("/js/ui/entry/start.c928df4c.js"),
						import("/js/ui/entry/app.35cd1f23.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_1al0jst.element);
					});
				</script></div>
